.scrolling-banner {
  background-color: #000000; /* Dark green color */
  color: white;
  height: 194.9px;
  font-size: 12rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  margin: 2rem 0; /* Add margin to separate from other sections */
}

.scrolling-text {
  display: inline-block;
  animation: scrollText 4s linear infinite;
}

@keyframes scrollText {
  0% {
      transform: translateX(110%);
  }
  100% {
      transform: translateX(-100%);
  }
}